* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 4.5rem;
    background-color: rgb(239, 243, 243);
    border-bottom: 1px solid ;
    position: sticky;
    top: 0;
    z-index: 50;
}
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:0 1rem ;


}
header .link1,
header nav > a {
    display: none;
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.logo span:nth-child(1) {
    background-color:red;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 7px;
}

@media (min-width: 1000px) {

}
.logo span:nth-child(2) {
    font-weight: 600;
}
.mobile ul.list {
    position:absolute ;
    right: 0;
    top: 100%;
}
